* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 2rem;
  margin-bottom: 32px;
}

h2 {
  font-size: 1.5rem;
}

p {
  font-size: 1.25rem;
}

.intro-chunk strong {
  color: hsl(160deg, 100%, 30%);
}

header {
  border-bottom: 8px solid hsl(0deg, 0%, 40%);
}

header .max-width-wrapper {
  margin: 0;
  padding: 64px 128px;
  max-width: 910px;
}

.max-width-wrapper {
  margin: 0;
  padding: 64px 128px;
  max-width: 1100px;
}

.intro-chunk {
  padding: 0 128px;
  margin-left: -8px;
}


main {
  background-color: hsl(0deg, 0%, 60%);
  padding: 0 96px;
}

.card {
  background-color:hsl(0deg, 0%, 100%);
  border-bottom: 8px solid hsl(0deg, 0%, 40%);
  padding: 24px;
}

.indented-heading {
  background-color: hsl(45deg, 100%, 50%);
  border-bottom: 8px solid hsl(45deg, 100%, 40%);
  width: fit-content;
  padding: 16px 32px;
  margin-top: -16px;
  margin-left: -32px;
}
